<div class="row">
	<div class="col-sm-12">
		<div class="jumbotron">
			<h1>Hello, world!</h1>
			<p>...</p>
			<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 home-job-listing">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Job Title</th>
					<th>Job Role</th>
					<th>Job Salary</th>
					<th>Job Skills</th>
					<th>Job Location</th>
					<th>Company</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="job in jobs.listing">
					<td ng-bind-template="{{ job.title }}"></td>
					<td ng-bind-template="{{ job.role }}"></td>
					<td ng-bind-template="{{ job.salary }}"></td>
					<td>some skills</td>
					<td ng-bind-template="{{ job.location }}"></td>
					<td>
						<a href="{{ job.company.website }}" target="_blank">
							{{ job.company.name }}
							<br>
							<img ng-src="{{ job.company.logo}}" class="company-logo">
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-xs-12">
		<div class="center-outer">
			<div class="center-inner">
				<pagination total-items="jobs.count" ng-model="currentPage" ng-change="getListing(currentPage, <%= config['jobListing.home.paginationSize'] %>)" ng-init="getListing(1, <%= config['jobListing.home.paginationSize'] %>)" items-per-page="<%= config['jobListing.home.paginationSize'] %>" class="pagination-sm text-center" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
			</div>
		</div>
	</div>
</div>