<h3>Jobs you are interested in</h3>
<hr>

<ul>
	<li ng-repeat="interestJob in interestJobs">
		<a ui-sref="jobView({ id : interestJob._id })">{{ interestJob.title }}</a>
	</li>
</ul>

<h3>Applicants interested in your jobs</h3>
<hr>

<ul>
	<li ng-repeat="company in interestApplicants">
		{{ company.name }} - {{ company.location }}
		<ul>
			<li ng-repeat="job in company.jobs">
				{{ job.title }} - {{ job.jobType }}
				<ul>
					<li ng-repeat="applicant in job.interests">
						<a ui-sref="profileView({ id : applicant.userId })">{{ applicant.userId }}</a>
					</li>
				</ul>
			</li>
		</ul>
	</li>
</ul>