<form method="POST" id="signin-form">
	<input type="text" name="email" id="email">
	<input type="password" name="password" id="password">
	<input type="submit" value="Sign In" id="submit">
</form>

<script>

	var
		formData = ''
		, xhr = new XMLHttpRequest()
		, url = 'http://localhost:3008/auth/local-signin';

	xhr.onreadstatechange = function () {
		if (xhr.readyState == 4 && xhr.status == 200) {
			console.log(xhr.response);
		}
	}

	var submitForm = function (formData) {
		xhr.open('POST', url);
		xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		xhr.send(formData);
	}

	document.getElementById('signin-form').addEventListener('submit', function (event) {
		event.preventDefault();
		formData += 'email=' + encodeURIComponent(document.getElementById('email').value);
		formData += '&password=' + encodeURIComponent(document.getElementById('password').value);
		submitForm(formData);
		formData = '';
	});

</script>