<div class="col-sm-12">
	<h3>Account Sign In</h3>
	<hr>
	<form method="POST" name="signInForm" id="signin-form" ng-submit="signIn($event, form)" ng-class='displayValidation ? "display-validation" : ""' novalidate>
		<div class="form-group">
			<label for="email">Email</label>
			<input type="text" name="email" id="email" class="form-control" ng-model="form.email" focus-on-load required ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/">
			<span class="validation-message" ng-show="signInForm.email.$error.required">This field is required<br></span>
			<span class="validation-message" ng-show="signInForm.email.$error.pattern">Please enter a valid email</span> <br>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" name="password" id="password" class="form-control" ng-model="form.password" required>
			<span class="validation-message" ng-show="signInForm.password.$error.required">This field is required</span> <br>
		</div>
		<input type="submit" value="Sign In" id="submit" class="btn btn-default" ng-disabled="displayValidation && signInForm.$invalid">
	</form>
	<br>
	<hr>
	<h4>Don't have an account?</h4>
	<a ui-sref="rootSignIn.signUp">Sign Up Now</a>
</div>