@import (reference) 'responsive';

/* ==========================================================================
								  > Global Elements
   ========================================================================== */
	body {
		margin: 30px 0;
	}

/* 								>> Validation
   ========================================================================== */
	.validation-message {
	  color: red;
	  display: none;
	  margin: 0 8px 0 0;
	}

	.display-validation .validation-message,
	.display-validation.validation-message {
	  display: inline-block;
	}

/* 								>> Form
   ========================================================================== */
  	form label {
  		text-transform: uppercase;
  	}

/* ==========================================================================
                  > Reusable Styling
   ========================================================================== */
    .center-outer {
      position: absolute;
      left: 50%;
    }
    .center-inner {
      position: relative;
      left: -50%;
    }

/* ==========================================================================
   								> Section
   ========================================================================== */

/* 								>> Experience Form
   ========================================================================== */
 	.experience-form .validation-message {
 		display: none;
 	}
 	.experience-form.display-validation .validation-message {
		display: inline-block;
 	}

/* 								>> Education Form
   ========================================================================== */
  	.education-form .validation-message {
  		display: none;
  	}
  	.education-form.display-validation .validation-message {
  		display: inline-block;
  	}

/*                >> Skill Form
   ========================================================================== */
    .skill-form .validation-message {
      display: none;
    }
    .skill-form.display-validation .validation-message {
      display: inline-block;
    }

/* 								>> Company Form
   ========================================================================== */
  	.company-form .validation-message {
  		display: none;
  	}
  	.company-form.display-validation .validation-message {
  		display: inline-block;
  	}

/*                >> Profile
   ========================================================================== */
    .profile-photo {
      max-width: 80px;
    }

/*                >> Company
   ========================================================================== */
    .company-logo {
      max-width: 80px;
    }

/*                >> Home Job Listing
   ========================================================================== */
    .home-job-listing {
      .company-logo {
        max-width: 120px;
      }
    }